.container {

    padding: 12px 16px;
    width: 375px;
    background-color: white;
    border-bottom: 1px solid lightgrey;
}

.toContainer {
    min-height: 44px;
    padding: 16px 12px;
    width: 375px;
    background-color: white;
    border-bottom: 1px solid lightgrey;

    display: flex;
}

.selectedCoachList{
    display: flex;
    margin-left: 8px;
    color: #48C1C2;
    font-family: Montserrat, serif;
    font-size: 16px;
    font-weight: 500;
}

.toPart{
    color: #0B3157;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.5;
    width: 30px;
    text-align: left;
}

.wrapper{
    max-width: 375px;
    margin: 0 auto;
}