.container {
    display: flex;
    align-items:  center;
}

.coachPhoto{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.userInfo{
    flex:1;
    margin-left: 16px;
    width: 190px;
}

.userInfoName{
    color: #0B3157;
    font-family: Montserrat, serif;
    line-height: 19px;
    font-size: 16px;
    font-weight: 500;
}

.userLevel{
    color: #0B3157;
    font-family: Montserrat, serif;
    line-height: 19px;
    font-weight: 500;

    opacity: 0.5;
    font-size: 14px;
}

.selectElement{
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;

    margin-right: 16px;
    background-color: #DBE0E6;
    border-radius: 100%;
    width: 28px;
    height: 28px;
}

.isSelectedElement{
    background-color: #48C1C2;

    display: flex;
    align-items: center;
    justify-content: center;
    color:white;

    margin-right: 16px;
    border-radius: 100%;
    width: 28px;
    height: 28px;
}
